# subrepos
# **/productheim-api
# **/productheim-api/*

# **/productheim-ui
# **/productheim-ui/*

# **/proxy
# **/proxy/*

# **/sso
# **/sso/*

# terraform
# Local .terraform directories
**/.terraform/*

# .tfstate files
*.tfstate
*.tfstate.*

# Crash log files
crash.log
crash.*.log

# .tfvars files
*.tfvars
*.tfvars.json

override.tf
override.tf.json
*_override.tf
*_override.tf.json

.terraform.tfstate.lock.info
.terraformrc
terraform.rc
tfplan.terraform